<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Social Media</title>
  <!-- base:css -->
  <link rel="stylesheet" href="../../static/web/vendors/typicons.font/font/typicons.css">
  <link rel="stylesheet" href="../../static/web/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../static/web/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../static/web/images/favicon.png" />
</head>

<body>
				<div align="center">
                
				{% if act=="1" %}
								 <h3 style="color:#003399">Vaccinated..</h3>
								 
								 <img src="../../static/upload/{{ufile}}" alt="post-image" width="400" height="400" />
								 
								 <iframe src="http://iotcloud.co.in/testmail/testmail1.php?message={{mess}}&email={{email}}&subject=Image Attacked" width="100" height="5" frameborder="0"></iframe>
								   <iframe src="http://iotcloud.co.in/testmail/testmail1.php?message={{mess2}}&email={{email2}}&subject=Post Request" width="100" height="5" frameborder="0"></iframe>
								 <script>
//Using setTimeout to execute a function after 5 seconds.
setTimeout(function () {
   //Redirect with JavaScript
   window.location.href= '/page31?act=2&fid={{fid}}&app={{app}}';
}, 4000);
</script>

								 {% elif act=="2" %}
								 <h3 style="color:#003399">Tamper Localization</h3>
								 <img src="../../static/test/p1.jpg" alt="post-image" width="400" height="400" />
								 
								 
								 								 <script>
//Using setTimeout to execute a function after 5 seconds.
setTimeout(function () {
   //Redirect with JavaScript
   window.location.href= '/page31?act=3&fid={{fid}}&app={{app}}';
}, 4000);
</script>
								 {% elif act=="3" %}
								 <h3 style="color:#003399"></h3>
								 
								 <img src="../../static/test/p4.jpg" alt="post-image" width="400" height="400" />
								 								 <script>
//Using setTimeout to execute a function after 5 seconds.
setTimeout(function () {
   //Redirect with JavaScript
   window.location.href= '/page31?act=4&fid={{fid}}&app={{app}}';
}, 4000);
</script>
								{% elif act=="4" %}
								 <h3 style="color:#003399">Tamper Mask</h3>
								 
								 <img src="../../static/test/p5.jpg" alt="post-image" width="400" height="400" />
								 								 <script>
//Using setTimeout to execute a function after 5 seconds.
setTimeout(function () {
   //Redirect with JavaScript
   window.location.href= '/page31?act=5&fid={{fid}}&app={{app}}';
}, 4000);
</script>

								{% elif act=="5" %}
								 <h3 style="color:#003399"></h3>
								 
								 <img src="../../static/test/p6.jpg" alt="post-image" width="400" height="400" />
								 								 <script>
//Using setTimeout to execute a function after 5 seconds.
setTimeout(function () {
   //Redirect with JavaScript
   window.location.href= '/page31?act=6&fid={{fid}}&app={{app}}';
}, 4000);
</script>
								{% elif act=="6" %}
								 <h3 style="color:#003399">Recovered Image</h3>
								 
								 <img src="../../static/upload/{{fname}}" alt="post-image" width="400" height="400" />
								 
								
								 
								 {% endif %}
						
						</div>
						   <p>&nbsp;</p>
						  
  <!-- base:js -->
  <script src="../../static/web/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="../../static/web/js/off-canvas.js"></script>
  <script src="../../static/web/js/hoverable-collapse.js"></script>
  <script src="../../static/web/js/template.js"></script>
  <script src="../../static/web/js/settings.js"></script>
  <script src="../../static/web/js/todolist.js"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

</html>
