<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<link rel="stylesheet" href="../../static/web/style.css">

<!------------------LIght BOx for Gallery-------------->
<link rel="stylesheet" href="../../static/web/lightbox.min.css">
<script type="text/javascript" src="../../static/web/lightbox-plus-jquery.min.js"></script>
<!------------------LIght BOx for Gallery-------------->
<title>Application-1</title>
</head>
<body>


    <!-------------------------------NAvigation Starts------------------>

    <nav class="navbar navbar-expand-md navbar-dark mb-4" style="background-color:#3097D1">
        <a href="../../static/web/index.html" class="navbar-brand"><img src="../../static/web/img/brand-white.png" alt="logo" class="img-fluid" width="80px" height="100px"></a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#responsive"><span class="navbar-toggler-icon"></span></button>


        <div class="collapse navbar-collapse" id="responsive">
            <ul class="navbar-nav mr-auto text-capitalize">
                <li class="nav-item"><a href="../../static/web/index.html" class="nav-link active">home</a></li>
                <li class="nav-item"><a href="../../static/web/profile.html" class="nav-link">profile</a></li>
                <li class="nav-item"><a href="#modalview" class="nav-link" data-toggle="modal">messages</a></li>
                <li class="nav-item"><a href="../../static/web/notification.html" class="nav-link">docs</a></li>
                <li class="nav-item"><a href="#" class="nav-link d-md-none">growl</a></li>
                <li class="nav-item"><a href="#" class="nav-link d-md-none">logout</a></li>

            </ul>

            <form action="" class="form-inline ml-auto d-none d-md-block">
                <input type="text" name="search" id="search" placeholder="Search" class="form-control form-control-sm">
            </form>
            <a href="../../static/web/notification.html" class="text-decoration-none" style="color:#CBE4F2;font-size:22px;"><i class="far fa-bell ml-3 d-none d-md-block"></i></a> 
            <img src="../../static/web/img/avatar-dhg.png" alt="" class="rounded-circle ml-3 d-none d-md-block" width="32px" height="32px">





        </div>





    </nav>

    <!---------------------------------------------Ends navigation------------------------------>

    <!---------------------------MOdal Section  satrts------------------->

    <div class="modal fade" id="modalview">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">

            <div class="modal-content">


                <div class="modal-header">
                    <div class="modal-title h4">Messages</div>

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>


                <div class="modal-body">


                    <ul class="list-unstyled">


                     <a href="#" class="text-decoration-none">
                        <li class="media hover-media">
                           
                                <img src="../../static/web/img/s1.jpg" alt="img" width="60px" height="60px" class="rounded-circle mr-3">

                                <div class="media-body text-dark">
                                        <h6 class="media-header">Jchob Thunder and <strong> 1 others</strong></h6>
                                        <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                                </div>

                        </li>
                    </a>
                    <hr class="my-3">


                    
                    <a href="#" class="text-decoration-none">
                            <li class="media hover-media">
                               
                                    <img src="../../static/web/img/avatar-fat.jpg" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
    
                                    <div class="media-body text-dark">
                                            <h6 class="media-header">Mark Otto and <strong> 3 others</strong></h6>
                                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    
                                    </div>
    
                            </li>
                        </a>


                        <hr class="my-3">


                        <a href="#" class="text-decoration-none">
                            <li class="media hover-media">
                               
                                    <img src="../../static/web/img/avatar-mdo.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
    
                                    <div class="media-body text-dark">
                                            <h6 class="media-header">Archer andu and <strong> 5 others</strong></h6>
                                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    
                                    </div>
    
                            </li>
                        </a>

                        <hr class="my-3">


                        <a href="#" class="text-decoration-none">
                                <li class="media hover-media">
                                   
                                        <img src="../../static/web/img/avatar-dhg.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
        
                                        <div class="media-body text-dark">
                                                <h6 class="media-header">Jchob Thunder and <strong> 1 others</strong></h6>
                                                <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        
                                        </div>
        
                                </li>
                            </a>
                            <hr class="my-3">
        
        
                            
                            <a href="#" class="text-decoration-none">
                                    <li class="media hover-media">
                                       
                                            <img src="../../static/web/img/avatar-fat.jpg" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
            
                                            <div class="media-body text-dark">
                                                    <h6 class="media-header">Mark Otto and <strong> 3 others</strong></h6>
                                                    <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            
                                            </div>
            
                                    </li>
                                </a>
        
        
                                <hr class="my-3">
        
        
                                <a href="#" class="text-decoration-none">
                                    <li class="media hover-media">
                                       
                                            <img src="../../static/web/img/avatar-mdo.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
            
                                            <div class="media-body text-dark">
                                                    <h6 class="media-header">Archer andu and <strong> 5 others</strong></h6>
                                                    <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            
                                            </div>
            
                                    </li>
                                </a>

                        
                                <hr class="my-3">
                                <a href="#" class="text-decoration-none">
                                        <li class="media hover-media">
                                           
                                                <img src="../../static/web/img/avatar-dhg.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                
                                                <div class="media-body text-dark">
                                                        <h6 class="media-header">Jchob Thunder and <strong> 1 others</strong></h6>
                                                        <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                
                                                </div>
                
                                        </li>
                                    </a>
                                    <hr class="my-3">
                
                
                                    
                                    <a href="#" class="text-decoration-none">
                                            <li class="media hover-media">
                                               
                                                    <img src="../../static/web/img/avatar-fat.jpg" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                    
                                                    <div class="media-body text-dark">
                                                            <h6 class="media-header">Mark Otto and <strong> 3 others</strong></h6>
                                                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    
                                                    </div>
                    
                                            </li>
                                        </a>
                
                
                                        <hr class="my-3">
                
                
                                        <a href="#" class="text-decoration-none">
                                            <li class="media hover-media">
                                               
                                                    <img src="../../static/web/img/avatar-mdo.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                    
                                                    <div class="media-body text-dark">
                                                            <h6 class="media-header">Archer andu and <strong> 5 others</strong></h6>
                                                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    
                                                    </div>
                    
                                            </li>
                                        </a>
    
    


                    </ul>



                    

                </div>
            </div>


        </div>


    </div>

    <!-------------------------------MOdal Ends---------------------------->



    <!-------------------------------------------Start Grids layout for lg-xl-3 columns and (xs-lg 1 columns)--------------------------------->


    <div class="container">
        <div class="row">


            <!--------------------------left columns  start-->

            <div class="col-12 col-lg-3">

                <div class="left-column">


                    <div class="card card-left1 mb-4" >
                        <img src="../../static/web/img/s1.jpg" alt="" class="card-img-top img-fluid">
                        <div class="card-body text-center ">
                          
                            <h5 class="card-title">Social Media</h5>
                            <p class="card-text text-justify mb-2">We have to facilitate the creation and sharing of content, ideas, interests, and other forms of expression through virtual communities.</p>
                           

                        </div>




                    </div>


                    <div class="card shadow-sm card-left2 mb-4">

                        <div class="card-body">

                                <h5 class="mb-3 card-title">About <small><a href="#" class="ml-1">Edit</a></small></h5>

                                <p class="card-text"> <i class="fas fa-calendar-week mr-2"></i> Went to <a href="#" class="text-decoration-none">oh canada</a></p>

                                <p class="card-text"> <i class="fas fa-user-friends mr-2"></i> Become a friend with <a href="#" class="text-decoration-none">obama</a></p>
                                <p class="card-text"> <i class="far fa-building mr-2"></i> Work at <a href="#" class="text-decoration-none">Github</a></p>
                                <p class="card-text"> <i class="fas fa-home mr-2"></i> Live in <a href="#" class="text-decoration-none">San francisco</a></p>
                                <p class="card-text"> <i class="fas fa-map-marker mr-2"></i> From <a href="#" class="text-decoration-none">Seattle, WA</a></p>




                        </div>
                     




                    </div>




                    <div class="card shadow-sm card-left3 mb-4">

                        <div class="card-body">
                            <h5 class="card-title">Photos<small class="ml-2"><a href="#">.Edit </a></small></h5>

                            <div class="row">
                                <div class="col-6 p-1">
                                    <a href="../../static/web/img/left1.jpg" data-lightbox="id" ><img src="../../static/web/img/left1.jpg" alt="img" class="img-fluid my-2"></a>  
                                    <a href="../../static/web/img/left2.jpg"data-lightbox="id"><img src="../../static/web/img/left2.jpg" alt="img" class="img-fluid my-2"></a>
                                    <a href="../../static/web/img/left3.jpg"data-lightbox="id"><img src="../../static/web/img/left3.jpg" alt="img" class="img-fluid my-2"></a>

                                </div>


                                <div class="col-6 p-1">
                                        <a href="../../static/web/img/left4.jpg"data-lightbox="id"><img src="../../static/web/img/left4.jpg" alt="img" class="img-fluid my-2"></a>
                                        <a href="../../static/web/img/left5.jpg"data-lightbox="id"><img src="../../static/web/img/left5.jpg" alt="img" class="img-fluid my-2"></a>
                                        <a href="../../static/web/img/left6.jpg"data-lightbox="id"><img src="../../static/web/img/left6.jpg" alt="img" class="img-fluid my-2"></a>
    
                                    </div>

                            </div>

                        </div>







                        </div>




                   

                    





                </div>





            </div>








 <!--------------------------Ends Left columns-->





 <!---------------------------------------Middle columns  start---------------->



            
            <div class="col-12 col-lg-6" >


                <div class="middle-column">


                    <div class="card" >


                        <div class="card-header bg-transparent">
                            <form class="form-inline" method="post">
							
							
							<div class="row">
								<div class="col-md-6">
								Username
								</div>
								<div class="col-md-6">
								<input type="text" name="uname" class="form-control" required>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
								Password
								</div>
								<div class="col-md-6">
								<input type="password" name="pass" class="form-control" required>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
								ggg
								</div>
								<div class="col-md-6">
								<button type="submit" name="btn" class="btn">Sign In</button>
								</div>
							</div>


                                <div class="input-group w-100">
                                

                                </div>



                        
                                
                               
                            </form>

                        </div>






                           
   <div class="card-body">

   </div>



</div>
</div>
 </div>

<!------------------------Middle column Ends---------------->
<!---------------------------Statrs Right Columns----------------->


                
<div class="col-12 col-lg-3">


    <div class="right-column">

        <div class="card shadow-sm mb-4" >
            <div class="card-body">
                <h6 class="card-title">Social</h6>
                <img src="../../static/web/img/s2.jpg" alt="card-img" class="card-img mb-3">
                <p class="card-text text-justify"> <span class="h6">Meta Platforms, which owns Facebook, Instagram, Messenger, and WhatsApp, has the largest concentration of top social media platforms by active users.</p>
                

            </div>

        </div>


        <div class="card shadow-sm mb-4">

            <div class="card-body">

                    <h6 class="card-title ">Likes <a href="#" class="ml-1"><small>.View All</small> </a> </h6>
                    <div class="row no-gutters d-none d-lg-flex">
                        <div class="col-6 p-1">
                                <img src="../../static/web/img/avatar-dhg.png" alt="img" width="80px" height="80px" class="rounded-circle mb-4">
                                <img src="../../static/web/img/avatar-fat.jpg" alt="img" width="80px" height="80px" class="rounded-circle">



                        </div>
                        <div class="col-6 p-1 text-left">
                            <h6>Jacob Thornton @fat</h6>
                            <a href="#" class="btn btn-outline-info btn-sm mb-3"><i class="fas fa-user-friends"></i>Follow </a>

                            <h6>Mark otto</h6>
                            <a href="#" class="btn btn-outline-info  btn-sm"><i class="fas fa-user-friends"></i>Follow </a>

                        </div>

                    </div>

            </div>

            <div class="card-footer">

                <p class="lead" style="font-size:18px;">Dave really likes these nerds, no one knows why though.</p>
            </div>
            


        </div>

        <div class="card shadow-sm">
            <div class="card-body">
                <p>&copy; Social Media


                
                </p>
            </div>

        </div>









    </div>

    
    

























            </div>





</div>




    

































<!------------------------Light BOx OPtions------------->
<script>
        lightbox.option({
          
        })
    </script>



<!------------------------Light BOx OPtions------------->










<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>