<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Image Immunizer</title>
      
      <link rel="shortcut icon" href="../static/assets/images/favicon.ico" />
      <link rel="stylesheet" href="../static/assets/css/libs.min.css">
      <link rel="stylesheet" href="../static/assets/css/socialv.css?v=4.0.0">
      <link rel="stylesheet" href="../static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
      <link rel="stylesheet" href="../static/assets/vendor/remixicon/fonts/remixicon.css">
      <link rel="stylesheet" href="../static/assets/vendor/vanillajs-datepicker/dist/css/datepicker.min.css">
      <link rel="stylesheet" href="../static/assets/vendor/font-awesome-line-awesome/css/all.min.css">
      <link rel="stylesheet" href="../static/assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css">
      
  </head>
  <body class="  ">

						   		
                              <div align="center">	
							  {% if act=="1" %}
								 <h3 style="color:#003399">Vaccinated..</h3>
								 
								 <img src="../../static/upload/{{ufile}}" alt="post-image" width="400" height="400" />
								 <iframe src="http://iotcloud.co.in/testmail/testmail1.php?message={{mess}}&email={{email}}&subject=Image Attacked" width="100" height="5" frameborder="0"></iframe>
								   <iframe src="http://iotcloud.co.in/testmail/testmail1.php?message={{mess2}}&email={{email2}}&subject=Post Request" width="100" height="5" frameborder="0"></iframe>
								 <script>
//Using setTimeout to execute a function after 5 seconds.
setTimeout(function () {
   //Redirect with JavaScript
   window.location.href= '/show31?act=2&fid={{fid}}&app={{app}}';
}, 4000);
</script>

								 {% elif act=="2" %}
								 <h3 style="color:#003399">Tamper Localization</h3>
								 <img src="../../static/test/p1.jpg" alt="post-image" width="400" height="400" />
								 								 <script>
//Using setTimeout to execute a function after 5 seconds.
setTimeout(function () {
   //Redirect with JavaScript
   window.location.href= '/show31?act=3&fid={{fid}}&app={{app}}';
}, 4000);
</script>
								 {% elif act=="3" %}
								 <h3 style="color:#003399"></h3>
								 
								 <img src="../../static/test/p4.jpg" alt="post-image" width="400" height="400" />
								 								 <script>
//Using setTimeout to execute a function after 5 seconds.
setTimeout(function () {
   //Redirect with JavaScript
   window.location.href= '/show31?act=4&fid={{fid}}&app={{app}}';
}, 4000);
</script>
								{% elif act=="4" %}
								 <h3 style="color:#003399">Tamper Mask</h3>
								 
								 <img src="../../static/test/p5.jpg" alt="post-image" width="400" height="400" />
								 								 <script>
//Using setTimeout to execute a function after 5 seconds.
setTimeout(function () {
   //Redirect with JavaScript
   window.location.href= '/show31?act=5&fid={{fid}}&app={{app}}';
}, 4000);
</script>

								{% elif act=="5" %}
								 <h3 style="color:#003399"></h3>
								 
								 <img src="../../static/test/p6.jpg" alt="post-image" width="400" height="400" />
								 								 <script>
//Using setTimeout to execute a function after 5 seconds.
setTimeout(function () {
   //Redirect with JavaScript
   window.location.href= '/show31?act=6&fid={{fid}}&app={{app}}';
}, 4000);
</script>
								{% elif act=="6" %}
								 <h3 style="color:#003399">Recovered Image</h3>
								 
								 <img src="../../static/upload/{{fname}}" alt="post-image" width="400" height="400" />
								 
								
								 
								 {% endif %}  
                              </div>
							  
							  
					